*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p,
ul,
ol,
li,
button,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

img {
  width: 100%;
  height: 100%;
}