.page {
  min-height: 100vh;
  color: var(--color-text);
  font-family: Inter, sans-serif;
  font-weight: var(--font-weight);
  letter-spacing: 0.2px;
}

svg,
img {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  padding: 19px 155px;
}

.header__logo {
  width: 106px;
  height: 37px;
}

.header__block-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.header__menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.header__menu-item-link { 
  color: var(--color-text-header);
  font-size: 15px;
  line-height: 24px;
}

.header__block-buttons {
  display: flex;
  gap: 13px;
  list-style: none;
}

.header__button {
  padding: 6px 20px;
}

.header__block-buttons .button-link {
  border: none;
  color: var(--cyan);
  background-color: transparent;
  cursor: pointer;
}

.header__button-link {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
}


.header__block-buttons .button-action {
  border: none;
  color: #fff;
  background-color: var(--cyan);
  cursor: pointer;
}

.content__greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 155px;
}

.greeting__block-information {
  max-width: 525px;
}

.greeting__title {
  margin-bottom: 24px;
  padding-right: 40px;
  font-family: 'Fraunces', serif;
  font-weight: var(--font-weight);
  font-size: 58px;
  line-height: 63.8px;
}

.greeting__description {
  margin-bottom: 29px;
  padding-right: 176px;
  font-size: 20px;
  line-height: 30px;
}

.greeting__block-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.button {
  padding: 8px 32px;
}

.greeting__button:last-of-type {
  position: relative;
  padding: 8px 15px;
}

.greeting__button:last-of-type::after {
  content: '';
  position: absolute;
  top: 11px;
  right: -4px;
  width: 14px;
  height: 21px;
  background-image: url('../svg/right-marker.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 18px;
}

.button-link {
  border: none;
  color: var(--cyan);
  background-color: transparent;
  cursor: pointer;
}

.button-action {
  border: none;
  color: #fff;
  background-color: var(--cyan);
  cursor: pointer;
}

.button-text {
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.greeting__icon {
  width: 452px;
  height: 422px;
}

.content__partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 155px;
}

.partners__text {
  font-size: 24px;
  line-height: 37.5px;
}

.partners__block-logos {
  display: flex;
  align-items: center;
  gap: 60px;
}

.partners__logo:nth-of-type(1) {
  width: 124px;
  height: 33px;
}

.partners__logo:nth-of-type(2) {
  width: 159px;
  height: 27px;
}

.partners__logo:nth-of-type(3) {
  width: 145px;
  height: 27px;
}

.partners__logo:nth-of-type(4) {
  width: 117px;
  height: 34px;
}

.content__advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 120px 155px;
}

.advantage__block-information {
  padding: 32px;
}

.bg-yellow {
  background-color: var(--bright-yellow);
}

.bg-blue {
  background-color: var(--bright-blue);
}

.bg-pink {
  background-color: var(--bright-pink);
}

.advantage__block-icon {
  margin-bottom: 8px;
}

.advantage__icon {
  width: 55px;
  height: 55px;
}

.title-three {
  font-family: 'Fraunces', serif;
  font-weight: var(--font-weight);
  font-size: 25px;
  line-height: 31.25px;
}

.advantage__title {
  margin-bottom: 11px;
}

.advantage__description {
  font-size: 15px;
  line-height: 24px;
}

.content__features {
  padding: 80px 155px;
  background-color: var(--bg-color-gray);
}

.title-two {
  font-family: 'Fraunces', serif;
  font-weight: var(--font-weight);
  font-size: 42px;
  line-height: 50.4px;
}

.features__title {
  margin-bottom: 60px;
}

.features__block-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 157px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  list-style: none;
}

.features__list-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  border-top: 1px solid var(--color-border-list);
  border-bottom: 1px solid var(--color-border-list);
  padding: 10px 12px;
  padding-right: 42px;
  cursor: pointer;
}

.features__list-item::after {
  content: '';
  position: absolute;
  top: 22px;
  right: 12px;
  width: 18px;
  height: 10px;
  background-image: url('../svg/bottom-marker.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.features__item-block-icon {
  width: 32px;
  height: 32px;
}

.features__item-title {
  max-width: 360px;
  overflow: hidden;
  color: var(--bright-gray);
  font-family: 'Fraunces', serif;
  font-weight: var(--font-weight);
  font-size: 20px;
  line-height: 25.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.features__block-icon {
  position: relative;
}

.features__icon {
  position: absolute;
  top: -150px;
  width: 481px;
  height: 479px;
}

.content__meaning {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 98px;
  padding: 120px 155px;
}

.meaning__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;
}

.meaning__list-item {
  display: flex;
  flex-direction: column;
}

.meaning__list-item:first-of-type {
  justify-content: end;
}

.meaning__item-block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin-bottom: 8px;
}

.meaning__list-item:nth-of-type(2) .meaning__item-icon {
  width: 36px;
  height: 40px;
}

.meaning__list-item:nth-of-type(3) .meaning__item-icon {
  width: 41px;
  height: 37px;
}

.meaning__item-title {
  margin-bottom: 11px;
}

.meaning__item-description {
  font-size: 15px;
  line-height: 24px;
}

.content__frame {
  display: flex;
  align-items: center;
  gap: 187px;
  padding: 80px 155px;
  background-color: var(--cyan);
}

.frame__icon {
  width: 382px;
  height: 374px;
}

.frame__title {
  margin-bottom: 18px;
  padding-right: 98px;
  color: #fff;
}

.frame__description {
  margin-bottom: 17px;
  padding-right: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.frame__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
  list-style: none;
}

.frame__list-item {
  position: relative;
}

.frame__list-item::before {
  content: '';
  position: absolute;
  top: 6px;
  width: 19px;
  height: 12px;
  background-image: url('../svg/list-marker.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.frame__item-text {
  padding-left: 26px;
  color: #fff;
  font-size: 16px;
  line-height: 21.6px;
}