:root {
  --font-weight: 400;
  --color-text: #1F1F1F;
  --color-text-header: #33383F;
  --bright-gray: #626A72;
  --color-border-list: #C2CDD8;
  --cyan: #0070A0;
  --bg-color-contact: #E6F7FF;
  --bg-color-gray: #F7F9FA;
  --bright-yellow: #FAEA73;
  --bright-pink: #F7CEDC;
  --bright-blue: #CCEFF6;
}